@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

*{
    font-family: 'League Spartan', sans-serif;
}

/* ## Colors */
:root{
    /* ### Primary */
    --Soft-Pink: hsl(333, 80%, 67%);
    --Very-Dark-Magenta: hsl(300, 43%, 22%);

    /* ### Neutral */
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}


main{
    margin: 0 auto;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 375px;
}

.title{
    color: var(--Very-Dark-Magenta);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 328px;
}

.title h1{
    padding: 10px 35px 0px 35px;
    line-height: 25px;
}

.title p{
    margin-top: -5px;
}


.rated article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 328px;
    height: 75px;
    background-color: var(--Light-Grayish-Magenta);
    border-radius: 5px;
    margin-top: 19px;
    font-weight: 700;
    color: var(--Very-Dark-Magenta);
}

.rated article p{
    margin: 0px;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}


.card article{
    background-color: var(--Very-Dark-Magenta);
    color: var(--White);
    width: 328px;
    height: 230px;
    border-radius: 10px;
}



.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    margin: 20px 40px;
}


.profile img{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.profile p{
    font-weight: 500;
}

.profile p span{
   color: var(--Soft-Pink);
   font-weight: 400;
}

.paragraph-profile{
    margin: 0px 38px 38px 38px;
    font-size: 16px;
    font-weight: 400;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }