@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: 15rem top, 15rem bottom ;

}

/* ## Colors */
:root{
    /* ### Primary */
    --Soft-Pink: hsl(333, 80%, 67%);
    --Very-Dark-Magenta: hsl(300, 43%, 22%);

    /* ### Neutral */
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    width: 1000px;
}


.container-title-rated{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title{
   width: 377px;
}

.title h1{
    font-size: 40px;
    color: var(--Very-Dark-Magenta);
    margin-right: 2rem;
    line-height: 35px;
}
.title p{
    margin-top: 20px;
    color: var(--Dark-Grayish-Magenta);
}

.rated{
    width: 482px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.rated article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 50px;
    background-color: var(--Light-Grayish-Magenta);
    border-radius: 10px;
    gap: 30px;
}

.rated article p{
    font-weight: 700;
    color: var(--Very-Dark-Magenta);
}

.rated-2{
    margin: 0 auto;
}

.rated-3{
     margin-left: 80px;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 20px;
}

.card article{
    background-color: var(--Very-Dark-Magenta);
    color: var(--White);
    border-radius: 5px;
    padding: 30px;
}

.irene{
    margin-top: 15px;
}

.anne{
    margin-top: 30px;
}


.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.profile p{
    font-weight: 500;
}



.profile p span{
    display: block;
    padding-top: 5px;
    color: var(--Soft-Pink);
    font-weight: 400;
}

.profile img{
    width: 40px;
    border-radius: 100%;
    margin-right: 20px;
}

.paragraph-profile{
    margin-top: 25px;
    line-height: 20px;
}

/* MEDIAQUERIES TABLES */

@media (max-width: 800px ) {

    main{
        min-height: 85vh;
    }

    .container{
        width: 750px;
    }

    .rated{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .rated-2{
        padding-left: 25px;
    }
    
    .rated-3{
        margin: 0;
    }

   .card{
    display: flex;
    flex-direction: column;
   }
}


/* MEDIAQUERIES MOBILE */

@media (max-width: 390px ) {
   body{
    background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: -15rem top, -15rem bottom;
   }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 375px;
    }


    .title h1{
        text-align: center;
        margin: 0 auto;
        padding: 0 10px;
    }

    .container-title-rated{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .rated{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
       
    }

    .rated article{
        width: 353px;
        height: 75px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    .rated-2{
        padding-left: 25px;
    }
    
    .rated-3{
        margin: 0;
    }

   .card{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
   }

  
}





.attribution {
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }